/*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */
		body{
			overflow-x: hidden;
			font-size: 0.75em !important;
		}
		header {
			height: 82.5px;
			width: 100%; /* 450px / 480px */
		}
		.inner{
			width: 100%;
		}
		.wrapper-dropdown-3{
			top: 45px;
			width: 100%;
		}
			img#logo{
				float: none;
				display:block;
				margin: 15px auto 5px;
				width: 30%;
			}
			nav{
				height: auto;
				float: none;
				width: 100%;
			}
			nav ul{
				height: auto;
				width: 100%;
			}
				nav ul li{
					height: auto;
					width: 16.5%;
					width: calc(100% / 6);
					font-size: 0.5em;
				}
				#langChoose ul li{ width: 100%;}
				#availableLang{margin-top: 25% !important;}
				nav ul li a{
					padding: 0.5em 0em;
					font-size: 1.25em;
					height: auto;
				}
				
				.active a{
						color: #1B365D;
				}
		#maincontentcontainer{ width:100%;}
		#maincontent{
			width: 100%; /* 450px / 480px */
			min-height:0;
		}
		
	
		.maincontent{
			/*width: 93.75%;*/
			min-height:0;
			padding-bottom: 25px;
		}
		
		
		footer {
			
			width: 93.75%; /* 450px / 480px */
		}
		footer p{
			text-align: center;
		}
		
		input, textarea, button{ float: left !important; max-width: 80%;}
		textarea{max-width:90%; position:relative !important; top:0 !important; right:0 !important;}
		button{max-width:50%;}
		.col p{padding: 0 !important;}

/*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */

.span_8_of_8 {
	width: 100%; 
	margin-left: 0;
}

.span_7_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_6_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_5_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_4_of_8 {
	width: 100%;
	margin-left: 0;
}

.span_3_of_8 {
	width: 74.2%;
	margin: 1% 0 1% 3.2%;
}

.span_2_of_8 {
	width: 48.4%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8 {
	width: 22.6%;
	margin: 1% 0 1% 3.2%; 
}

.span_1_of_8:nth-child(4n+1) { 
	clear: both;
	margin-left: 0;
}
		
#foo{
	padding-top: 75px;
}
		
.slideme{
	max-height:150px;
}

.section{
	width: 100%;
}

.banner *{
	font-size: 1.75em;
}

/*

	INDEX

*/

.teaser{
	width: 80%;
	float: none;
	display: block; 
	margin: 35px auto !important;
	height: 175px;
	
}

.teaser p{
	font-size: 1.15em !important;
}

.introText {
	
}
.introText h2{
	/*margin-top: 95px;*/
}
.introText img{
	max-width: 95% !important;
	margin: 0px auto 0px !important;
	display: block;
}
.introText p{
	margin-left: 15px;
	margin-right: 15px;
}

.white-popup{
	max-width:100%;
}
.white-popup h5{
	margin-left: 20px;
}

.white-popup p{
	margin-left: 15px;
	font-size: 10px;
	width: 90%;
}

.photo{
	display: none;
}

.peps img{
	width: 40%;
}

		.mini{
			margin: 0 auto;
			display: block;
			float: left;
			clear: both;
		}
		.full{display: none;}
		.emailContact h3{display: none;}
		.emailContact p{text-align: center; font-style: italic; font-size: 1.25em; padding: 5%;}
		.madrid p:first-child, .bilbao p:first-child{margin-top: 15px;}
		.madrid p, .bilbao p, .madrid img, .bilbao img, .madrid iframe, .bilbao iframe{
			display:block;
			margin: 0 auto;
			padding: 2.5%;
			width: 95%;
			font-style: italic;
			height: auto;
			position: relative;
		}
		
		.madrid img, .bilbao img, .madrid iframe, .bilbao iframe{
			margin: 0 auto;
		}
		.madrid{
			margin-top: 0px;
			width: 100%;
			text-align: center;
		}
		
		.bilbao{
			margin-top: 0px;
			width: 100%;
			text-align: center;
		}
/* effin footer */

		#copy{

			width: 100%;
			text-align: center;
		}

		#madrid{
			margin-top: 17.5px;
			width: 100%;
			text-align: center;
		}
		
		#bilbao{
			margin-top: 17.5px;
			width: 100%;
			text-align: center;
		}
		
		#email{
			width: 100%;
			text-align: center;
		}
		
		#copy p{
			margin-top: 17.5px;
		}

		#madrid p{
			font-style: italic;
		}
		
		#bilbao p{
			font-style: italic;
		}
		
		#email p{
			margin-top: 12.5px; margin-right: 5px;
		}
		
		#email img{
			
			display:none;
		}

		.bannerText{
			font-size: 0.65em;
		}

		.vpQuote{
			max-width: 75%;
		}