/*  GRID OF FOUR   ============================================================================= */

	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 72.6%; 
	width: calc(93.5%/4*3);
}

.span_2_of_4 {
	width: 48%; 
	width: calc(93.5%/4*2);
}

.span_1_of_4 {
	width: 23.8%; 
	width: calc(93.5%/4);
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}