/*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */
		body{
			overflow-x: hidden;
			font-size: 0.75em !important;
		}
		header {
			height: 95px;
			width: 100%; /* 450px / 480px */
		}
		.inner{
			width: 100%;
		}
		.wrapper-dropdown-3{
			top: 45px;
			width: 100%;
		}
			img#logo{
				float: none;
				display:block;
				margin: 15px auto 5px;
				width: 15%;
			}
			nav{
				float: none;
				width: 100%;
				height: auto;
			}
			nav ul{
				width: 100%;
				height: auto;
			}
				nav ul li{
					height: auto;
					width: 16.5%;
					width: calc(100% / 6);
					font-size: 0.75em;
				}
				#langChoose ul{height: auto;}
				#langChoose ul li{ width: 100%; height: auto;}
				#langChoose ul li a{font-size: 150%; height: auto;}
				nav ul li a{
					height: auto;
					padding: 0.5em 0em;
					height: auto;
				}
				
				.active a{
						color: #1B365D;
				}

		#maincontentcontainer{ width:100%;}
		#maincontent{
			width: 93.75%; /* 450px / 480px */
			min-height:0;
		}
		
	
		.maincontent{
			/*width: 93.75%;*/
			min-height:0;
		}
		
		
		footer {
			width: 93.75%; /* 450px / 480px */
		}
		#foo{padding-top: 75px;}
		.yellowContainer{ }
		#galleria{ width:400px; height: auto; margin: 0 auto; padding: 0;}
		.yellowTitle{font-size: 1.25em;}
		#daySelect ul li{
			width: 32.5%;
			width: calc(87.5% / 3);
			margin-top: 5px;
			font-size: 0.75em;
		
		}
		.santiagoQuote{font-style:italic; color: #a5a4a4; background: #FCFCFC; border: 1px dashed #2980B9; padding: 10px; margin:0px; margin-left:0px; font-family: 'Montserrat';  text-align: center;}
		.santiagoQuote p{padding-left: 0px !important;}
		
		.travel .col img{margin-top: 25px !important;}
		
		.travel .col p:last-child{ margin-bottom: 0px !important;}
		.travel .col p:first-child, .case .col p:first-child{ margin-top: 15px !important;}
		
		.santiago .section{margin-top:0px !important;}
		
		input, textarea, button{ max-width: 32.5%;}
		textarea{max-width:45%;}
		button{max-width: 20%;}
		.col p{padding: 0 !important;}
		
		#copy{
			float: left; 
		}

		#madrid{
			float: right;  margin-left: 35px;
		}
		
		#bilbao{
			float: right;  margin-left: 35px;
		}
		
		#email{
			float: left; 
			width: 140px;
			margin-left: 15px;
		}
		
		#copy p{
			margin-top: 2.5px;
		}

		#madrid p{
			font-style: italic;
		}
		
		#bilbao p{
			font-style: italic;
		}
		
		#email p{
			margin-top: 12.5px; margin-right: 5px;
		}
		
		#email img{
			width: 25px; float: left;margin-top: 15px; margin-right: 5px;
		}		
/*

INDEX

*/
.slideme{
	max-height: 360px;
}
.teaser{
	width: 22.5%;

}

.white-popup{
	max-width: 95%;
}

.white-popup p{
	font-size: 11px;
}

.white-popup h4{
	margin-top: -25px;
}

.bio img{
	margin-top: 25px;
	width: 100%;
}
