body {
  background: url('../images/bgHome.jpg') top center no-repeat;
  background-color:transparent;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}
a{
	text-decoration:none;
}
p{
	line-height: normal;
	margin-bottom: 5px;
	font-size:9px;
	margin-right: 10px;
}
h2{
	font-size:12px;
	margin-bottom:5px;
}
nav{
	margin-left: auto;
 	margin-right: auto;
	background: url('../images/bgNav.png') top center no-repeat;
	width:1280px;
	height:56px;
	margin-top: 20px;
	
}
nav ul{
	margin-top: 20px;
	float: right;
	margin-right: 150px;
}
nav li{
	display:inline;
	list-style:none;
}
footer{
	clear:both;
	height: 173px;
	width:1280px;
	background: url('../images/bgFooter.png') top center no-repeat;
	margin-left: auto;
 	margin-right: auto;
	
}
footer > p{
	margin-left: 155px;
	margin-right: 360px;
	padding-top: 20px;
	color: white;
}
footer ul{
	margin-top: 45px;
	float: left;
	margin-left: 80px;
}
footer li{
	display:inline;
	list-style:none;
	margin-left:15px;
}
footer form{
	margin-top:-20px;
	margin-left: 155px;
}
button{
	height:45px;
	width:179px;
	border:none;
	color:white;
	font-weight:bold;
	background: url('../images/button.png') ;
}
button > p{
	vertical-align:central;
}